<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'myfonts/css/all.min.css' %}">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
</head>
<body>
    {% block content %}

    {% endblock %}

    <script>
        $("document").ready(function(){
            $(".alert").hide(4000);
        });
    </script>

</body>
</html>